.vault {
    display: flex;
    @extend %align-center;
    @include size(100%);
    position: fixed;
    pointer-events: none;
    z-index: 50;
    &__inner {
        display: flex;
        @extend %justify-center;
        flex-direction: column;
        position: absolute;
        width: 150%;
        height: calc(100% - #{$header-h-sm * 2});
        @include vault-animation(vault-open-sm);
        @include transform(translateZ(0));
        &__border {
            overflow: hidden;
            @include absolute-pos(0, auto, 0, auto);
            position: relative;
            border-radius: 50%;
            @include size(200%, 100%);
            @include box-border(rem(2000));
            @include transform(translateX(-25%) scaleY(1));
            z-index: 5;
        }
        &__shadow {
            z-index: 4;
            opacity: 1;
            display: block;
            position: absolute;
            background: $white;
            left: calc(25vw + #{rem(32)});
            right: calc(25vw + #{rem(32)});
            @include size(calc(100vw - #{rem(64)}), $header-h-sm);
            @include vault-animation(fade-out);
            &--first {
                @include vault-shadow(0, rem(30), rem(60));
                bottom: 100%;
            }
            &--last {
                @include vault-shadow(0, -#{rem(30)}, rem(60));
                top: 100%;
            }
        }
    }
}

@include bp-sm {
    .vault {
        &__inner {
            width: 125%;
            height: calc(100% - #{$header-h-md * 2});
            @include vault-animation(vault-open-md);
            &__shadow {
                left: calc(12.5vw + #{rem(40)});
                right: calc(12.5vw + #{rem(40)});
                @include size(calc(100vw - #{rem(80)}), $header-h-md);
                // @include vault-animation(fade-out);
            }
        }
    }
}

@include phone-landscape {
    // TODO rotate vault for landscape mobile
    // media query to detect height?
}

@include bp-md {
    .vault {
        &__inner {
            height: 100vh;
            width: calc(100vw - #{$gallery-pad-lg * 2});
            @include vault-animation(vault-open-lg);
            &__border {
                @include absolute-pos(auto, 0, auto, 0);
                @include size(100%, 200%);
                @include transform(translateX(0) scaleY(1));
            }
            &__shadow {
                top: $header-h-lg;
                bottom: $header-h-lg;
                @include size($header-h-lg, calc(100% - #{$header-h-lg * 2}));
                &--first {
                    @include vault-shadow(rem(30), 0, rem(60));
                    right: 100%;
                    left: auto;
                }
                &--last {
                    @include vault-shadow(-#{rem(30)}, 0, rem(60));
                    left: 100%;
                    right: auto;
                }
            }
        }
    }
}

@include bp-lg {
    .vault {
        &__inner {
            // width: calc(100vw - #{$gallery-pad-lg * 2});
            // @include vault-animation(vault-open-lg);
            &__shadow {
                top: $header-h-x-lg;
                bottom: $header-h-x-lg;
                @include size($header-h-x-lg, calc(100% - #{$header-h-x-lg * 2}));
            }
        }
    }
}

@include desktop-hd {
    .vault {
        &__inner {
            height: 125vh;
            width: calc(100vw - #{$gallery-pad-x-lg * 2});
            @include vault-animation(vault-open-x-lg);
            &__shadow {
                top: $header-h-x-lg * 1.5;
                bottom: $header-h-x-lg * 1.5;
                height: calc(100% - #{$header-h-x-lg * 2} * 1.5);
            }
        }
    }
}
