// POSITIONING & SPACING
.center-margin { margin: 0 auto; }
.auto-margin { margin: auto; }

.absolute { position: absolute; }
.relative { position: relative; }


// DISPLAY
.hide { display: none !important; }
.invisible { opacity: 0 !important; }
.hide-overflow { overflow: hidden; }


// LAYOUT
.container {
    display: flex;
    width: 100vw;
    max-width: 1440px
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
}

.col-full { flex: 1; }

.col-half { flex-basis: 50%; }
.col-quarter { flex-basis: 25%; }

.col-third { flex-basis: 33.33%; }
.col-two-third { flex-basis: 66.66%; }


// FONT CLASSES
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

.bold { font-weight: bold; }
.italic { font-style: italic; }