.navbar {
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        li {
            text-align: center;
            padding: 0 20px;
            a {
                color: $colour-white;
            }
        }
    }
}
