::selection { @include selection($grey-700, $white); }

*, *::before, *::after {
    @include box-sizing(border-box);
    margin: 0; padding: 0;
    font-family: system-ui;
    z-index: 1;
}

html, body {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    background-color: $white;
    overflow-x: hidden;
    color: $grey-700;
    @include size(100%);
    @include transition($transition-default)
}

// body {
//     width: 100%;
//     margin: 0 auto;
//     max-width: 1440px;
// }

*:active, *:focus {
    outline: 0;
    border: none;
    outline-style: none;
    -moz-outline-style: none;
}

div, a {
    & > svg {
        display: flex;
        @extend %align-center;
        @include size(100%);
        margin: auto;
        fill: $grey-700;
    }
}

a {
    @include user-select(none);
    @include tap-highlight($transparent);
    cursor: pointer;
    @include transition($transition-default);
    &:hover {

    }
    &:active, &:focus {
        
    }
}

img { max-width: 100%; }

h1, h2, h3, h4, h5, p, ul, li, a {
    text-decoration: none;
    list-style: none;
    color: $grey-700;
    // letter-spacing: -0.3px;
    line-height: 1.5;
}

p, ul, li {
    text-transform: none;
    font-weight: normal;
}

h1 {
    font-size: 1.5em;
    padding: 1em 0;
}

h4 {
    font-size: 0.75em;
}

*::-webkit-scrollbar {
    height: rem(8);
    margin: 2%;
    width: rem(8);
  }
  
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: lighten($grey-700, 10%);
    border-radius: rem(50);
    outline: rem(1) solid $grey-700;
  }



.fill {
    &--grey-700 { fill: $grey-700; }
    &--green-light { fill: $green-light; }
    &--red-light { fill: $red-light; }
    &--yellow-light { fill: $yellow-light; }
    &--blue-light { fill: $blue-light; }
}

@media screen and (max-device-width: 480px){
    body{ -webkit-text-size-adjust: 100%; }
}