.btn {
  display: flex;
  align-items: center; }

.vault__inner {
  display: flex;
  justify-content: center; }

svg, .icon, .vault, .headings__projects {
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.icon, .btn, .btn__nav__text__inner, .btn__nav__text__inner::before {
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }

@-webkit-keyframes vault-open-sm {
  to {
    width: 100vw;
    height: calc(100vh - 11rem); }
  from {
    width: 100vw;
    height: calc(10vh - 11rem); } }

@-moz-keyframes vault-open-sm {
  to {
    width: 100vw;
    height: calc(100vh - 11rem); }
  from {
    width: 100vw;
    height: calc(10vh - 11rem); } }

@-o-keyframes vault-open-sm {
  to {
    width: 100vw;
    height: calc(100vh - 11rem); }
  from {
    width: 100vw;
    height: calc(10vh - 11rem); } }

@keyframes vault-open-sm {
  to {
    width: 100vw;
    height: calc(100vh - 11rem); }
  from {
    width: 100vw;
    height: calc(10vh - 11rem); } }

@-webkit-keyframes vault-open-md {
  to {
    width: 100vw;
    height: calc(100vh - 13.5rem); }
  from {
    width: 100vw;
    height: calc(10vh - 13.5rem); } }

@-moz-keyframes vault-open-md {
  to {
    width: 100vw;
    height: calc(100vh - 13.5rem); }
  from {
    width: 100vw;
    height: calc(10vh - 13.5rem); } }

@-o-keyframes vault-open-md {
  to {
    width: 100vw;
    height: calc(100vh - 13.5rem); }
  from {
    width: 100vw;
    height: calc(10vh - 13.5rem); } }

@keyframes vault-open-md {
  to {
    width: 100vw;
    height: calc(100vh - 13.5rem); }
  from {
    width: 100vw;
    height: calc(10vh - 13.5rem); } }

@-webkit-keyframes vault-open-lg {
  to {
    width: calc(100vw - 14rem);
    height: 100vh; }
  from {
    width: calc(10vw - 14rem);
    height: 100vh; } }

@-moz-keyframes vault-open-lg {
  to {
    width: calc(100vw - 14rem);
    height: 100vh; }
  from {
    width: calc(10vw - 14rem);
    height: 100vh; } }

@-o-keyframes vault-open-lg {
  to {
    width: calc(100vw - 14rem);
    height: 100vh; }
  from {
    width: calc(10vw - 14rem);
    height: 100vh; } }

@keyframes vault-open-lg {
  to {
    width: calc(100vw - 14rem);
    height: 100vh; }
  from {
    width: calc(10vw - 14rem);
    height: 100vh; } }

@-webkit-keyframes vault-open-x-lg {
  to {
    width: 80vw;
    height: 100vh; }
  from {
    width: 0;
    height: 100vh; } }

@-moz-keyframes vault-open-x-lg {
  to {
    width: 80vw;
    height: 100vh; }
  from {
    width: 0;
    height: 100vh; } }

@-o-keyframes vault-open-x-lg {
  to {
    width: 80vw;
    height: 100vh; }
  from {
    width: 0;
    height: 100vh; } }

@keyframes vault-open-x-lg {
  to {
    width: 80vw;
    height: 100vh; }
  from {
    width: 0;
    height: 100vh; } }

@-webkit-keyframes fade-in {
  to {
    opacity: 0.4; }
  from {
    opacity: 1; } }

@-moz-keyframes fade-in {
  to {
    opacity: 0.4; }
  from {
    opacity: 1; } }

@-o-keyframes fade-in {
  to {
    opacity: 0.4; }
  from {
    opacity: 1; } }

@keyframes fade-in {
  to {
    opacity: 0.4; }
  from {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  to {
    opacity: 1; }
  from {
    opacity: 0.4; } }

@-moz-keyframes fade-out {
  to {
    opacity: 1; }
  from {
    opacity: 0.4; } }

@-o-keyframes fade-out {
  to {
    opacity: 1; }
  from {
    opacity: 0.4; } }

@keyframes fade-out {
  to {
    opacity: 1; }
  from {
    opacity: 0.4; } }

::selection {
  background-color: #2B2626;
  color: #ffffff; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  z-index: 1; }

html, body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background-color: #ffffff;
  overflow-x: hidden;
  color: #2B2626;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

*:active, *:focus {
  outline: 0;
  border: none;
  outline-style: none;
  -moz-outline-style: none; }

svg {
  pointer-events: none;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.125rem;
  fill: #2B2626;
  margin: auto; }

a {
  cursor: pointer;
  pointer-events: auto;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  a:hover {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, p, ul, li, a {
  text-decoration: none;
  list-style: none;
  color: #2B2626;
  line-height: 1.5; }

p, ul, li {
  text-transform: none;
  font-weight: normal; }

h1 {
  font-size: 1.5rem; }

h4, p {
  font-size: 1rem; }

h4 {
  font-weight: bold; }

*::-webkit-scrollbar {
  height: 0.5rem;
  margin: 2%;
  width: 0.5rem; }

*::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none; }

*::-webkit-scrollbar-thumb {
  background-color: #2B2626;
  border-radius: 3.125rem;
  outline: 0.0625rem solid #2B2626; }

.fill--grey-700 {
  fill: #2B2626; }

.fill--green-light {
  fill: #CAFFE3; }

.fill--red-light {
  fill: #FFA6A6; }

.fill--yellow-light {
  fill: #FFE7A5; }

.fill--blue-light {
  fill: #BAE2FF; }

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: 100%; } }

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }

.center-margin {
  margin: 0 auto; }

.auto-margin {
  margin: auto; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.hide {
  display: none !important; }

.invisible {
  opacity: 0 !important; }

.hide-overflow {
  overflow: hidden; }

.container {
  display: flex;
  width: 100vw;
  max-width: 90rem; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.logo > svg {
  padding: 0;
  width: 2.25rem;
  height: 2.25rem; }

@media (min-width: 37.5rem) {
  .logo > svg {
    width: 2.75rem;
    height: 2.75rem; } }

@media (min-width: 60rem) {
  .logo > svg {
    width: 3.875rem;
    height: 3.875rem; } }

@media (min-width: 80rem) {
  .logo > svg {
    width: 3.875rem;
    height: 3.875rem; } }

.icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem;
  z-index: 2; }

.btn::before {
  display: block;
  position: absolute;
  -webkit-transition: 0.3s cubic-bezier(0.82, -0.01, 1, 1);
  -moz-transition: 0.3s cubic-bezier(0.82, -0.01, 1, 1);
  -o-transition: 0.3s cubic-bezier(0.82, -0.01, 1, 1);
  transition: 0.3s cubic-bezier(0.82, -0.01, 1, 1); }

.btn:hover::before {
  -webkit-transition: 0.3s cubic-bezier(0.82, -0.01, 1, 1);
  -moz-transition: 0.3s cubic-bezier(0.82, -0.01, 1, 1);
  -o-transition: 0.3s cubic-bezier(0.82, -0.01, 1, 1);
  transition: 0.3s cubic-bezier(0.82, -0.01, 1, 1); }

.btn__nav {
  border-radius: 1rem;
  height: 2.5rem;
  margin: 0 0.25rem; }
  .btn__nav__icon {
    border: 0.0625rem solid #ffffff; }
  .btn__nav:hover > .btn__nav__icon,
  .btn__nav--active > .btn__nav__icon {
    -webkit-transition: 0.2s cubic-bezier(0.82, -0.01, 1, 1);
    -moz-transition: 0.2s cubic-bezier(0.82, -0.01, 1, 1);
    -o-transition: 0.2s cubic-bezier(0.82, -0.01, 1, 1);
    transition: 0.2s cubic-bezier(0.82, -0.01, 1, 1);
    -webkit-transform: translateY(-0.25rem);
    -moz-transform: translateY(-0.25rem);
    -o-transform: translateY(-0.25rem);
    -ms-transform: translateY(-0.25rem);
    transform: translateY(-0.25rem); }
  .btn__nav:hover > .btn__nav__text :first-child::before,
  .btn__nav--active > .btn__nav__text :first-child::before {
    -webkit-transition: 0.3s cubic-bezier(0.82, -0.01, 1, 1);
    -moz-transition: 0.3s cubic-bezier(0.82, -0.01, 1, 1);
    -o-transition: 0.3s cubic-bezier(0.82, -0.01, 1, 1);
    transition: 0.3s cubic-bezier(0.82, -0.01, 1, 1);
    transform: scaleX(1); }
  .btn__nav:first-of-type {
    margin-left: 0.5rem; }
  .btn__nav:last-of-type {
    margin-right: 0.5rem; }
  .btn__nav__text {
    height: 100%;
    pointer-events: none; }
    .btn__nav__text ::selection {
      background-color: none; }
    .btn__nav__text__inner {
      border-radius: 1rem;
      display: none;
      align-items: center;
      overflow: hidden;
      position: relative;
      z-index: 1;
      padding-left: 2.5rem; }
      .btn__nav__text__inner::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        transform-origin: 0% 50%;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        border-radius: 1rem;
        z-index: -1; }
      .btn__nav__text__inner h4 {
        padding: 0 1rem 0 0.75rem;
        white-space: nowrap; }
  .btn__nav--green:hover > div:first-of-type, .btn__nav--green--active > div:first-of-type {
    background: #6ED29D;
    -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(110, 210, 157, 0.5);
    -moz-box-shadow: 0 0.5rem 1rem 0 rgba(110, 210, 157, 0.5);
    -o-box-shadow: 0 0.5rem 1rem 0 rgba(110, 210, 157, 0.5);
    box-shadow: 0 0.5rem 1rem 0 rgba(110, 210, 157, 0.5); }
  .btn__nav--yellow:hover > div:first-of-type, .btn__nav--yellow--active > div:first-of-type {
    background: #FFBE0B;
    -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(255, 190, 11, 0.5);
    -moz-box-shadow: 0 0.5rem 1rem 0 rgba(255, 190, 11, 0.5);
    -o-box-shadow: 0 0.5rem 1rem 0 rgba(255, 190, 11, 0.5);
    box-shadow: 0 0.5rem 1rem 0 rgba(255, 190, 11, 0.5); }
  .btn__nav--blue:hover > div:first-of-type, .btn__nav--blue--active > div:first-of-type {
    background: #73A8FD;
    -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(115, 168, 253, 0.5);
    -moz-box-shadow: 0 0.5rem 1rem 0 rgba(115, 168, 253, 0.5);
    -o-box-shadow: 0 0.5rem 1rem 0 rgba(115, 168, 253, 0.5);
    box-shadow: 0 0.5rem 1rem 0 rgba(115, 168, 253, 0.5); }
  .btn__nav--red:hover > div:first-of-type, .btn__nav--red--active > div:first-of-type {
    background: #FF324B;
    -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(255, 50, 75, 0.5);
    -moz-box-shadow: 0 0.5rem 1rem 0 rgba(255, 50, 75, 0.5);
    -o-box-shadow: 0 0.5rem 1rem 0 rgba(255, 50, 75, 0.5);
    box-shadow: 0 0.5rem 1rem 0 rgba(255, 50, 75, 0.5); }

.btn__social {
  width: 2.25rem;
  height: 2.25rem; }
  .btn__social--active {
    transform: translateY(-rem(8)); }

@media (min-width: 37.5rem) {
  .btn__nav {
    margin: 0 0.75rem; }
    .btn__nav:hover > .btn__nav__icon,
    .btn__nav--active > .btn__nav__icon {
      transform: translateY(-0.5rem); }
    .btn__nav__icon {
      position: absolute; }
    .btn__nav__text {
      display: flex; }
      .btn__nav__text__inner {
        display: flex; }
    .btn__nav--green > div:first-of-type, .btn__nav--green > :first-child::before {
      background: #CAFFE3; }
    .btn__nav--green > div:last-of-type > :first-child::before {
      background: #CAFFE3; }
    .btn__nav--green:hover > div:first-of-type, .btn__nav--green--active > div:first-of-type {
      background: #6ED29D;
      -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(110, 210, 157, 0.5);
      -moz-box-shadow: 0 0.5rem 1rem 0 rgba(110, 210, 157, 0.5);
      -o-box-shadow: 0 0.5rem 1rem 0 rgba(110, 210, 157, 0.5);
      box-shadow: 0 0.5rem 1rem 0 rgba(110, 210, 157, 0.5); }
    .btn__nav--yellow > div:first-of-type, .btn__nav--yellow > :first-child::before {
      background: #FFE7A5; }
    .btn__nav--yellow > div:last-of-type > :first-child::before {
      background: #FFE7A5; }
    .btn__nav--yellow:hover > div:first-of-type, .btn__nav--yellow--active > div:first-of-type {
      background: #FFBE0B;
      -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(255, 190, 11, 0.5);
      -moz-box-shadow: 0 0.5rem 1rem 0 rgba(255, 190, 11, 0.5);
      -o-box-shadow: 0 0.5rem 1rem 0 rgba(255, 190, 11, 0.5);
      box-shadow: 0 0.5rem 1rem 0 rgba(255, 190, 11, 0.5); }
    .btn__nav--blue > div:first-of-type, .btn__nav--blue > :first-child::before {
      background: #BAE2FF; }
    .btn__nav--blue > div:last-of-type > :first-child::before {
      background: #BAE2FF; }
    .btn__nav--blue:hover > div:first-of-type, .btn__nav--blue--active > div:first-of-type {
      background: #73A8FD;
      -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(115, 168, 253, 0.5);
      -moz-box-shadow: 0 0.5rem 1rem 0 rgba(115, 168, 253, 0.5);
      -o-box-shadow: 0 0.5rem 1rem 0 rgba(115, 168, 253, 0.5);
      box-shadow: 0 0.5rem 1rem 0 rgba(115, 168, 253, 0.5); }
    .btn__nav--red > div:first-of-type, .btn__nav--red > :first-child::before {
      background: #FFA6A6; }
    .btn__nav--red > div:last-of-type > :first-child::before {
      background: #FFA6A6; }
    .btn__nav--red:hover > div:first-of-type, .btn__nav--red--active > div:first-of-type {
      background: #FF324B;
      -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(255, 50, 75, 0.5);
      -moz-box-shadow: 0 0.5rem 1rem 0 rgba(255, 50, 75, 0.5);
      -o-box-shadow: 0 0.5rem 1rem 0 rgba(255, 50, 75, 0.5);
      box-shadow: 0 0.5rem 1rem 0 rgba(255, 50, 75, 0.5); } }

.nav {
  display: flex; }

.vault {
  width: 100%;
  height: 100%;
  position: absolute; }
  .vault__inner {
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 11rem);
    -moz-animation: vault-open-sm 1.5s ease-in-out;
    -webkit-animation: vault-open-sm 1.5s ease-in-out;
    -o-animation: vault-open-sm 1.5s ease-in-out;
    animation: vault-open-sm 1.5s ease-in-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
    .vault__inner__border {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: auto;
      position: relative;
      border-radius: 50%;
      width: 200%;
      height: 100%;
      -webkit-box-shadow: 0 0 0 125rem #ffffff;
      -moz-box-shadow: 0 0 0 125rem #ffffff;
      -o-box-shadow: 0 0 0 125rem #ffffff;
      box-shadow: 0 0 0 125rem #ffffff;
      -webkit-transform: translateX(-25%) scaleY(1);
      -moz-transform: translateX(-25%) scaleY(1);
      -o-transform: translateX(-25%) scaleY(1);
      -ms-transform: translateX(-25%) scaleY(1);
      transform: translateX(-25%) scaleY(1);
      z-index: 5; }
    .vault__inner__shadow {
      display: block;
      position: absolute;
      left: 1.5rem;
      right: 1.5rem;
      background: #ffffff;
      width: calc(100% - 3rem);
      height: 5.5rem;
      opacity: 1;
      -moz-animation: fade-out 1.5s ease-in-out;
      -webkit-animation: fade-out 1.5s ease-in-out;
      -o-animation: fade-out 1.5s ease-in-out;
      animation: fade-out 1.5s ease-in-out;
      z-index: 4; }
      .vault__inner__shadow--first {
        -webkit-box-shadow: 1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
        -moz-box-shadow: 1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
        -o-box-shadow: 1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
        box-shadow: 1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
        bottom: 100%; }
      .vault__inner__shadow--last {
        -webkit-box-shadow: -1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
        -moz-box-shadow: -1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
        -o-box-shadow: -1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
        box-shadow: -1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
        top: 100%; }

@media (min-width: 37.5rem) {
  .vault__inner {
    width: 100vw;
    height: calc(100vh - 13.5rem);
    -moz-animation: vault-open-md 1.5s ease-in-out;
    -webkit-animation: vault-open-md 1.5s ease-in-out;
    -o-animation: vault-open-md 1.5s ease-in-out;
    animation: vault-open-md 1.5s ease-in-out; }
    .vault__inner__shadow {
      left: 2.5rem;
      right: 2.5rem;
      width: calc(100% - 5rem);
      height: 6.75rem; } }

@media (min-width: 60rem) {
  .vault {
    align-items: flex-start; }
    .vault__inner {
      width: calc(100vw - 14rem);
      height: 100vh;
      -moz-animation: vault-open-lg 1.5s ease-in-out;
      -webkit-animation: vault-open-lg 1.5s ease-in-out;
      -o-animation: vault-open-lg 1.5s ease-in-out;
      animation: vault-open-lg 1.5s ease-in-out; }
      .vault__inner__border {
        position: absolute;
        top: auto;
        right: 0;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 200%;
        -webkit-transform: translateX(0) scaleY(1);
        -moz-transform: translateX(0) scaleY(1);
        -o-transform: translateX(0) scaleY(1);
        -ms-transform: translateX(0) scaleY(1);
        transform: translateX(0) scaleY(1); }
      .vault__inner__shadow {
        top: 10.875rem;
        bottom: 10.875rem;
        width: 10.875rem;
        height: calc(100% - 21.75rem); }
        .vault__inner__shadow--first {
          -webkit-box-shadow: 1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
          -moz-box-shadow: 1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
          -o-box-shadow: 1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
          box-shadow: 1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
          right: 100%;
          left: auto; }
        .vault__inner__shadow--last {
          -webkit-box-shadow: -1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
          -moz-box-shadow: -1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
          -o-box-shadow: -1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
          box-shadow: -1.875rem 0 3.75rem 0 rgba(43, 38, 38, 0.15);
          left: 100%;
          right: auto; } }

@media (min-width: 80rem) {
  .vault {
    align-items: flex-start; }
    .vault__inner {
      width: 80vw;
      height: 100vh;
      -moz-animation: vault-open-x-lg 1.5s ease-in-out;
      -webkit-animation: vault-open-x-lg 1.5s ease-in-out;
      -o-animation: vault-open-x-lg 1.5s ease-in-out;
      animation: vault-open-x-lg 1.5s ease-in-out; }
      .vault__inner__shadow {
        top: 13.75rem;
        bottom: 13.75rem;
        width: 13.75rem;
        height: calc(100% - 27.5rem); } }

.headings__projects {
  position: absolute;
  width: 100%;
  padding: 1.5rem 0;
  z-index: 999; }

.header {
  position: fixed;
  padding: 1.5rem;
  bottom: 0;
  min-height: 5.25rem;
  max-height: 13.375rem;
  width: 100%;
  height: auto;
  z-index: 999; }
  .header__line {
    background: #2B2626;
    width: 0.25rem;
    height: 0.25rem;
    -moz-border-radius: 3.125rem;
    -webkit-border-radius: 3.125rem;
    -o-border-radius: 3.125rem;
    border-radius: 3.125rem; }

@media (min-width: 37.5rem) {
  .header {
    padding: 2rem; }
    .header__line {
      margin: 0 2rem;
      width: 100%;
      height: 0.125rem; } }

@media (min-width: 60rem) {
  .header {
    padding: 3.5rem; }
    .header__line {
      margin: 0 3.5rem; } }

@media (min-width: 80rem) {
  .header {
    padding: 4.75rem; }
    .header__line {
      margin: 0 4.75rem; } }

.page {
  position: relative; }
  .page__projects ::selection {
    background-color: #CAFFE3;
    color: #2B2626; }
  .page__contact ::selection {
    background-color: #FFE7A5;
    color: #2B2626; }
