{% extends "layouts.njk" %}

{% block content %}
{% import 'macros/nav-macro.njk' as nav %}
{{nav.active('about')}}
<div class="page__about">
    <h1 style="color: black; text-align: center;">ABOUT</h1>
</div>
{% endblock %}