{% extends "layouts.njk" %}

{% block content %}
{% import 'macros/nav-macro.njk' as nav %}
{{nav.active('contact')}}
<div class="page__contact">
    <h1 style="color: black; text-align: center;">CONTACT</h1>
</div>
{% endblock %}