{% extends "layouts.njk" %}

{% block content %}
{% import 'macros/nav-macro.njk' as nav %}
{{nav.active('home')}}
<div class="page__home">
    <h1 style="color: black; text-align: center;">INDEX</h1>
</div>
{% endblock %}