{% extends "layouts.njk" %}

{% block content %}
{% import 'macros/nav-macro.njk' as nav %}
{{nav.active('projects')}}
<div class="page__projects">
    <h1 style="color: black; text-align: center;">PROJECTS</h1>
</div>
{% endblock %}