{% extends "layouts.njk" %}

{% block meta %}
{% set current_page = "projects" %}
{# Navbar #}
{% import 'macros/nav-macro.njk' as nav %}
{{nav.active(current_page)}}
{# Vault #}
{% include 'partials/vault.njk' %}
{# Heading #}
{% import 'macros/heading.njk' as heading %}
{{heading.active(current_page)}}

{# Content #}
{% import 'macros/page-macro.njk' as page %}
{{page.active(current_page)}}

    {# To populate - cycle through using macros #}
    <div class="container">

        <!-- <div class="item item1">
            <p>SIDEBAR</p>
        </div>

        <div class="item item2">
            <p>PURE CONTENT HERE INIT</p>
        </div>

        <div class="item item3">
            <p>SIDEBAR</p>
        </div>

        <div class="item footer">
            <p>FOOTER</p>
        </div> -->

    </div>

</div>

{% endblock %}