{% extends "layouts.njk" %}

{% block content %}
{% import 'macros/nav-macro.njk' as nav %}
{{nav.active('projects')}}
    <!-- Projects page -->
    <h1 style="color: black; text-align: center;">PROJECTS</h1>
{% endblock %}