.header {
    display: flex;
    @extend %justify-between;
    @include size(100%, $header-h-sm);
    position: fixed;
    padding: 0 $header-pad-sm;
    bottom: 0;
    z-index: 100;
    a {
        background: transparent;
        @include background-pos(0, no-repeat, 0 0);
    }
    &__line {
        @extend %dot;
        @include size(rem(3));
    }
    &--project {
        bottom: auto;
        top: 0;
    }
}

@include bp-sm {
    .header {
        height: $header-h-md;
        padding: 0 $header-pad-md;
        &__line {
            margin: 0 $header-pad-md;
            @include size(100%, rem(2));
        }
    }
}

@include bp-md {
    .header {
        height: $header-h-lg;
        padding: 0 $header-pad-lg;
        &__line { margin: 0 $header-pad-lg; }
    }
}

@include bp-lg {
    .header {
        height: $header-h-x-lg;
        padding: 0 $header-pad-x-lg;
        &__line { margin: 0 $header-pad-x-lg; }
    }
}