.header {
    @extend %align-between;
    position: fixed;
    padding: rem(24);
    bottom: 0;
    min-height: rem(84);
    max-height: rem(214);
    @include size(100%, auto);
    z-index: 999;
    &__line {
        background: $grey-700;
        @include size(rem(4));
        @include border-radius(rem(50));
    }
}

@include bp-sm {
    .header {
        padding: rem(32);
        &__line {
            margin: 0 rem(32);
            @include size(100%, rem(2));
        }
    }
}

@include bp-md {
    .header {
        padding: rem(56);
        &__line {
            margin: 0 rem(56);
        }
    }
}

@include bp-lg {
    .header {
        padding: rem(76);
        &__line {
            margin: 0 rem(76);
        }
    }
}