.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    @include size(100%, 84px);
    @include transition($transition-default);
    z-index: 999;
}
