.btn {
    cursor: pointer;
    @include transition(transform .3s ease-in-out);
    display: flex;
    position: relative;
    overflow: hidden;
    color: $white;
    z-index: 1;
    &::after {
        content: "";
        @include transition(transform .3s ease-in-out);
        @include border-radius(50px);
        @include transform(scaleX(0));
        transform-origin: right;
        background-color: $white;
        position: absolute;
        margin: 0; padding: 0;
        bottom: 0; left: 0;
        width: 100%;
        z-index: -1;
    }
    &:hover {
        @include transition(transform .3s ease-in-out);
        &::after {
            @include transition(transform .3s ease-in-out);
            @include transform(scaleX(1));
            transform-origin: left;
        }
    }

    &__hollow {
        @include transition(.3s ease-in-out);
        @include border-radius(50px);
        border: solid 1px $white;
        padding: 6px 20px;
        &::after {
            background-color: $white;
            height: 100%;
        }
        &:hover {
            @include transition(.3s ease-in-out);
            color: $black;
        }
    }

    &__nav {
        padding: 7px 6px;
        &::after {
            @include transition(transform .2s ease-in-out);
            height: 1px;
        }
        &:hover {
            &::after {
                @include transition(transform .2s ease-in-out);
            }
        }
    }
}
