
@font-face {
    font-family: system-ui;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

*, *::before, *::after {
    @include box-sizing(border-box);
    margin: 0; padding: 0;
    font-family: system-ui;
}
    
html, body {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    background-color: $colour-bg;
    margin: 0; padding: 0;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.img {
    overflow: hidden;
    img, svg {
        height: 100%; width: 100%;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;
    }
}

