$hovercolor: #322322;
$hoverwidth: 380%;
$half-translucent: rgba(0,0,0,0.5);
$gradient: left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.2), rgba(0,0,0,0.3), rgba(0,0,0,0.2), rgba(0,0,0,0.1),  rgba(0,0,0,0);

$title-font: 'Avenir Light', sans-serif;
$title-weight: 200;

$main-font: 'MrsEavesRoman', serif;
$main-weight: 200;

$fancy-border: 80px 0px 80px 0px;
$faint-shadow: 0px 0px 57px -12px rgba(0,0,0,0.64);
$box-size: border-box;
$center-margin: 0 auto;


$one-border: $hovercolor solid 1px;
$two-border: $hovercolor solid 2px;


$parallax-height: 700px;

$block-btn-top: 40%;

$accommodation-height: 770px;
$accommodation-img-width: 100%;
$accommodation-img-height: 300px;


$featured-height: 760px;
$featured-img-size: 260px;


$blog-height: 700px;

$text_img-height: 300px;



$footer-height: 320px;
$footer-color:  #6d6c69;
//#84827D
$icon-height: 40px;