$colour-primary: #14881e;
$colour-secondary: #322322;
$colour-bg: #fff;
$colour-white: #fff;
$colour-black: #231f20;
$colour-dark-grey: #282828;

$hoverwidth: 380%;
$half-translucent: rgba(0,0,0,0.5);
$gradient: left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0.2), rgba(0,0,0,0.3), rgba(0,0,0,0.2), rgba(0,0,0,0.1),  rgba(0,0,0,0);

$font-noto: 'Noto Sans', sans-serif;

$fancy-border: 80px 0px 80px 0px;
$faint-shadow: 0px 0px 57px -12px rgba(0,0,0,0.64);

$one-border: $colour-primary solid 1px;
$two-border: $colour-primary solid 2px;

$logo-size: 48px;
