<!-- waves -->
    <div class="waves">
        <!-- wave 1 -->
        <svg class="wave wave-one-a" width="2504px" height="82px" viewBox="0 0 2504 82" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="background-pieces" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" transform="translate(-21.000000, -13.000000)" fill="#E5DED0">
                    <path d="M388,48 C588,1 559.929117,74.3779993 787,59 C1014.07088,43.6220007 979.50816,16.2191059 1104,14 C1228.49184,11.7808941 1229,41 1362,41 C1495,41 1520,24 1637,24 C1888,24 1894,83 2085,64 C2276,45 2250,94.9005729 2527,95 L0,95 C134,95 188,95 388,48 Z" id="waves-1"></path>
                </g>
            </g>
        </svg>
        <svg class="wave wave-one-b" width="2504px" height="82px" viewBox="0 0 2504 82" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="background-pieces" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" transform="translate(-21.000000, -13.000000)" fill="#E5DED0">
                    <path d="M388,48 C588,1 559.929117,74.3779993 787,59 C1014.07088,43.6220007 979.50816,16.2191059 1104,14 C1228.49184,11.7808941 1229,41 1362,41 C1495,41 1520,24 1637,24 C1888,24 1894,83 2085,64 C2276,45 2250,94.9005729 2527,95 L0,95 C134,95 188,95 388,48 Z" id="waves-1"></path>
                </g>
            </g>
        </svg>
        <!-- wave 2 -->
        <svg class="wave wave-two-a" width="2518px" height="94px" viewBox="0 0 2518 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="background-pieces" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" transform="translate(-1.000000, -1.000000)" fill="#E5DED0">
                    <path d="M255,48 C333,43 504,88 689,37 C874,-14 889,44 1033,37 C1177,30 1176,1 1338,1 C1500,1 1501,59 1659,59 C1817,59 1935,28 2064,32 C2193,36 2238,70 2287,80 C2336,90 2387,95 2527,95 L9.09494702e-13,95 C99,95 177,53 255,48 Z" id="waves-2"></path>
                </g>
            </g>
        </svg>
        <svg class="wave wave-two-b" width="2518px" height="94px" viewBox="0 0 2518 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="background-pieces" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" transform="translate(-1.000000, -1.000000)" fill="#E5DED0">
                    <path d="M255,48 C333,43 504,88 689,37 C874,-14 889,44 1033,37 C1177,30 1176,1 1338,1 C1500,1 1501,59 1659,59 C1817,59 1935,28 2064,32 C2193,36 2238,70 2287,80 C2336,90 2387,95 2527,95 L9.09494702e-13,95 C99,95 177,53 255,48 Z" id="waves-2"></path>
                </g>
            </g>
        </svg>
        <!-- wave 3 -->
        <svg class="wave wave-three-a" width="2524px" height="95px" viewBox="0 0 2524 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="background-pieces" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" transform="translate(-2.000000, 0.000000)" fill="#E5DED0">
                    <path d="M182,48 C264,11 320,84 420,37 C520,-10 635,54 744,59 C853,64 868.484537,27.0533793 937,11 C1005.51546,-5.05337932 1092,60 1201,37 C1259.72907,24.6076272 1323,5.20245391e-16 1436,0 C1549,0 1561,37 1645,47.5497136 C1715.97255,56.4632854 1733,11 1824,11 C1915,11 1955,59 2050,59 C2145,59 2177,37 2282,37 C2387,37 2378,94.9005729 2527,94.9005729 L2.27373675e-13,95 C102,95 100,85 182,48 Z" id="waves-3"></path>
                </g>
            </g>
        </svg>
        <svg class="wave wave-three-b" width="2524px" height="95px" viewBox="0 0 2524 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="background-pieces" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Artboard" transform="translate(-2.000000, 0.000000)" fill="#E5DED0">
                    <path d="M182,48 C264,11 320,84 420,37 C520,-10 635,54 744,59 C853,64 868.484537,27.0533793 937,11 C1005.51546,-5.05337932 1092,60 1201,37 C1259.72907,24.6076272 1323,5.20245391e-16 1436,0 C1549,0 1561,37 1645,47.5497136 C1715.97255,56.4632854 1733,11 1824,11 C1915,11 1955,59 2050,59 C2145,59 2177,37 2282,37 C2387,37 2378,94.9005729 2527,94.9005729 L2.27373675e-13,95 C102,95 100,85 182,48 Z" id="waves-3"></path>
                </g>
            </g>
        </svg>
    </div>

.waves {
    position: absolute;
    bottom: 0; right: 0;
    left: -10%;
    width: 120%; height: auto;
    & .wave {
        position: absolute;
        bottom: -30px; left: 0;
        width: 100%;
    }
}

@keyframes wave-one-a {
    0%, 100% {
        transform: translateX(-13%);
        opacity: $wave-one-opacity;
    }
    50% {
        transform: translateX(-80%);
        opacity: $wave-one-opacity;
    }
    50.1% {
        transform: translateX(120%);
        opacity: 0;
    }
    50.2% {
        opacity: $wave-one-opacity;
    }
}
@keyframes wave-one-b {
    0%, 100% {
        transform: translateX(80%);
        opacity: $wave-one-opacity;
    }
    50% {
        transform: translateX(25%);
        opacity: $wave-one-opacity;
    }
    99% {
        transform: translateX(-80%);
        opacity: $wave-one-opacity;
    }
    99.1% {
        transform: translateX(80%);
        opacity: 0;
    }
    99.2% {
        opacity: $wave-one-opacity;
    }
}

@keyframes wave-two-a {
    0%, 100% {
        transform: translateX(0);
        opacity: $wave-two-opacity;
    }
    50% {
        transform: translateX(-80%);
        opacity: $wave-two-opacity;
    }
    50.1% {
        opacity: 0;
        transform: translateX(80%);
    }
    50.2% {
        opacity: $wave-two-opacity;
    }
}
@keyframes wave-two-b {
    0%, 100% {
        transform: translateX(80%);
        opacity: $wave-two-opacity;
    }
    50% {
        transform: translateX(0);
        opacity: $wave-two-opacity;
    }
    99% {
        transform: translateX(-80%);
        opacity: $wave-two-opacity;
    }
    99.1% {
        opacity: 0;
        transform: translateX(80%);
    }
    99.2% {
        opacity: $wave-two-opacity;
    }
}

@keyframes wave-three-a {
    0%, 100% {
        transform: translateX(0);
        opacity: $wave-three-opacity;
    }
    50% {
        transform: translateX(-80%);
        opacity: $wave-three-opacity;
    }
    50.1% {
        transform: translateX(80%);
        opacity: 0;
    }
    50.2% {
        opacity: $wave-three-opacity;
    }
}
@keyframes wave-three-b {
    0%, 100% {
        transform: translateX(80%);
        opacity: $wave-three-opacity;
    }
    50% {
        transform: translateX(0);
        opacity: $wave-three-opacity;
    }
    99% {
        transform: translateX(-80%);
        opacity: $wave-three-opacity;
    }
    99.1% {
        opacity: 0;
        transform: translateX(80%);
    }
    99.2% {
        opacity: $wave-three-opacity;
    }
}

.wave-one-a {
    @include animation (wave-one-a 150s infinite linear);
}
.wave-one-b {
    @include animation (wave-one-b 150s infinite linear);
}
.wave-two-a {
    @include animation (wave-two-a 200s infinite linear);
}
.wave-two-b {
    @include animation (wave-two-b 200s infinite linear);
}
.wave-three-a {
    @include animation (wave-three-a 250s infinite linear);
}
.wave-three-b {
    @include animation (wave-three-b 250s infinite linear);
}
