
{% macro active(activePage='home') %}
<div class="heading{%if activePage == 'projects' %} heading__projects{% endif %}{%if activePage == 'contact' %} heading__contact{% endif %}">
    {%if activePage == 'home'%}<h1>Home</h1>{% endif %}
    {% set heading = "My Work" %}
    {%if activePage == 'projects'%}
        {# <span>{{heading}}</span> #}
        <h1>{{heading}}</h1>
    {% endif %}
    {%if activePage == 'contact'%}<h1>Contact</h1>{% endif %}
    {%if activePage == 'styleguide'%}<h1>Style Guide</h1>{% endif %}
</div>
{% endmacro %}