{% extends "layouts.njk" %}

{% block meta %}
{% set current_page = "projects" %}
{% set current_project = "fluid_ads_showreel" %}

{# Navbar #}
{% import 'macros/nav-macro.njk' as nav %}
{{nav.active(current_page)}}
{# Header #}
{% include 'partials/project-header.njk' %}
{# Content #}
{% import 'macros/page-macro.njk' as page %}
{{page.active(current_page)}}


</div> {# Ends page macro #}
{% endblock %}
