{% extends "layouts.njk" %}

{% block meta %}
{% set current_project = "fa_showreel" %}

{# Navbar #}
{% import 'macros/nav-macro.njk' as nav %}
{{nav.active(projects)}}
{# Header #}
{% import 'macros/project-header.njk' as heading %}


{# Content #}
{% import 'macros/page-macro.njk' as page %}
{{page.active(current_project)}}


</div> {# Ends page macro #}
{% endblock %}
