// TASTY MIXIN SUGARS //

// HEIGHT WIDTH //
// height will default to width value, unless you specify a second argument
// @include size(24px); --> width and height are 24px
// @include size(100%, 10em); --> width = 100%. height = 10em.
@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}


// IMAGE MIXINS //
@mixin background-size($size) {
	background-size: $size;
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
}

@mixin background-image($file, $size) {
	background: url($file) no-repeat center center;
	@include background-size($size);
}

// STYLES MIXINS //
@mixin linear-background($gradient) {
	background: -webkit-linear-gradient($gradient);
	background: -moz-linear-gradient($gradient);
	background: -o-linear-gradient($gradient);
	background: linear-gradient($gradient);
}



@mixin animation($anim) {
	-moz-animation: $anim;
  	-webkit-animation: $anim;
 	animation: $anim;
}

@mixin box-shadow($faint-shadow) {
	-webkit-box-shadow: $faint-shadow;
	-moz-box-shadow: $faint-shadow;
	-o-box-shadow: $faint-shadow;
	box-shadow: $faint-shadow;
}

@mixin box-shadows($shadow1, $shadow2) {
	-webkit-box-shadow: $shadow1, $shadow2;
	-moz-box-shadow: $shadow1, $shadow2;
	-o-box-shadow: $shadow1, $shadow2;
	box-shadow: $shadow1, $shadow2;
}

@mixin border-radius($fancy-border) {
	-moz-border-radius: $fancy-border;
	-webkit-border-radius: $fancy-border;
	-o-border-radius: $fancy-border;
	border-radius: $fancy-border;
}

@mixin box-sizing($box-size) {
	-webkit-box-sizing: $box-size;
	-moz-box-sizing: $box-size;
	-o-box-sizing: $box-size;
	box-sizing: $box-size;
}

@mixin transition($transition) {
	-webkit-transition: $transition;
  	-moz-transition: $transition;
  	-o-transition: $transition;
  	transition: $transition;
}

@mixin transform($transform) {
	-webkit-transform: $transform;
  	-moz-transform: $transform;
  	-o-transform: $transform;
  	-ms-transform: $transform;
  	transform: $transform;
}

@mixin placeholder($placeholder) {
	::-webkit-input-placeholder { color:$placeholder; }
	::-moz-placeholder { color:$placeholder; }
	::-ms-placeholder { color:$placeholder; }
	::placeholder { color:$placeholder; }
}

@mixin blur($blur) {
	-webkit-filter: blur($blur);
	filter: blur($blur);
}

