// FUNCTIONS
@function strip-units($value) {
	@return ($value / ($value * 0 + 1));
}
  
//Set font size as pixels and rems {px}
@function rem($pxval) {
	@if not unitless($pxval) {
		$pxval: strip-units($pxval);
	}
	$base: 16;
	@if not unitless($base) {
		$base: strip-units($base);
	}
	@return ($pxval / $base) * 1rem;
}


// MIXINS
@mixin font-family($family) {
	font-family: $family, Arial, Helvetica, sans-serif;
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}
@mixin min-size($width, $height: $width) {
	min-width: $width;
	min-height: $height;
}
@mixin max-size($width, $height: $width) {
	max-width: $width;
	max-height: $height;
}

@mixin absolute-pos($top, $right: $top, $bot: $right, $left: $bot) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bot;
	left: $left;
}

// ICONS
@mixin nav-icon($colour) {
	background: $colour;
	@include box-shadow(0 rem(4) rem(8) 0 rgba($colour, .5));
}
@mixin nav-icon-l($colour) {
	background: $colour;
	@include box-shadow(0 rem(8) rem(16) 0 rgba($colour, .5));
}

// SELECTION
@mixin user-select($colour) {
	-webkit-touch-callout: $colour;
    -webkit-user-select: $colour;
    -khtml-user-select: $colour;
    -moz-user-select: $colour;
    -ms-user-select: $colour;
    user-select: $colour;
}
@mixin tap-highlight($transparent) {
	-webkit-tap-highlight-color: $transparent;
	-webkit-tap-highlight-color: transparent;
}

@mixin selection($bg, $colour) {
	background-color: $bg;
    color: $colour;
}

@mixin border-radius($border) {
	-moz-border-radius: $border;
	-webkit-border-radius: $border;
	-o-border-radius: $border;
	border-radius: $border;
}

@mixin box-sizing($box-size) {
	-webkit-box-sizing: $box-size;
	-moz-box-sizing: $box-size;
	-o-box-sizing: $box-size;
	box-sizing: $box-size;
}

@mixin transform($transform) {
	-webkit-transform: $transform;
  	-moz-transform: $transform;
  	-o-transform: $transform;
  	-ms-transform: $transform;
  	transform: $transform;
}

@mixin placeholder($placeholder) {
	::-webkit-input-placeholder { color:$placeholder; }
	::-moz-placeholder { color:$placeholder; }
	::-ms-placeholder { color:$placeholder; }
	::placeholder { color:$placeholder; }
}

@mixin blur($blur) {
	-webkit-filter: blur($blur);
	filter: blur($blur);
}

// STYLING
@mixin border-default($colour) {
	border: rem(1) solid $colour;
}

@mixin colour-opacity($color, $opacity) {
    color: $color; /* The Fallback */
    color: rgba($color, $opacity);
}

// ANIMATION //
@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}

@mixin animation($anim) {
	-moz-animation: $anim;
  	-webkit-animation: $anim;
  	-o-animation: $anim;
 	animation: $anim;
}

@mixin vault-animation($name) {
	// @include animation($name 1.5s ease-in-out 1.5s);
	@include animation($name 1.5s ease-in-out);
}

@mixin transition($transition) {
	-webkit-transition: $transition;
  	-moz-transition: $transition;
  	-o-transition: $transition;
  	transition: $transition;
}

// BACKGROUND //
@mixin linear-background($gradient) {
	background-image: -webkit-linear-gradient($gradient);
	background-image: -moz-linear-gradient($gradient);
	background-image: -o-linear-gradient($gradient);
	background-image: linear-gradient($gradient);
}

@mixin background-opacity($color, $opacity) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin background-size($size) {
	background-size: $size;
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	-ms-background-size: $size;
}

@mixin background-pos($pos, $repeat, $size) {
	background-position: $pos;
    background-repeat: $repeat;
    background-size: $size;
}

@mixin background-image($file, $size) {
	background: url($file) no-repeat center center;
	@include background-size($size);
}

// SHADOWS //
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-o-box-shadow: $shadow;
	box-shadow: $shadow;
}
@mixin border-vault($colour) {
	border: 100px solid $colour;
}
@mixin vault-border($width) {
	@include box-shadow(0 0 0 $width #{$white});
}
@mixin vault-shadow($x, $y, $blur) {
	@include box-shadow($x $y $blur 0 rgba(43,38,38,0.15));
}

@mixin link-underline($width, $colour) {
	@include box-shadow(inset 0 $width 0 0 $colour);
}

@mixin box-shadows($shadow1, $shadow2) {
	-webkit-box-shadow: $shadow1, $shadow2;
	-moz-box-shadow: $shadow1, $shadow2;
	-o-box-shadow: $shadow1, $shadow2;
	box-shadow: $shadow1, $shadow2;
}

// BREAKPOINTS
@mixin bp-x-sm {
	@media (min-width: rem(480)) {
	  @content;
	}
}
@mixin bp-sm {
	@media (min-width: rem(600)) {
	  @content;
	}
}
@mixin bp-md {
	@media (min-width: rem(960)) {
	  @content;
	}
}
@mixin bp-lg {
	@media (min-width: rem(1280)) {
	  @content;
	}
}
@mixin desktop-hd {
	@media (min-width: rem(1920)) {
	  @content;
	}
}
@mixin ultra-wide {
	@media (min-width: rem(2560)) {
	  @content;
	}
}


// SPECIFIC BREAKPOINTS

// Phone Landscape
@mixin phone-landscape {
	@media (min-width: #{$screen-tablet-portrait}) and (max-width: #{$screen-tablet-landscape - 1px}) and (orientation: landscape) {
		@content;
	}
}

// Tablet Portrait
@mixin tablet-portrait {
	@media (min-width: #{$screen-tablet-portrait}) and (max-width: #{$screen-tablet-landscape - 1px}) {
	  @content;
	}
}

// Tablet Landscape and Up
@mixin tablet-landscape-plus {
	@media (min-width: #{$screen-tablet-landscape}) {
	  @content;
	}
}

// Tablet Landscape
@mixin tablet-landscape {
	@media (min-width: #{$screen-tablet-landscape}) and (max-width: #{$screen-desktop - 1px}) {
	  @content;
	}
}

// Desktop
@mixin desktop {
	@media (min-width: #{$screen-desktop}) and (max-width: #{$screen-hd - 1px}) {
	  @content;
	}
}

//High resolution screens
@mixin high-resolution {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		@content;
	}
}

