%highlight-remove {
    @include user-select(text);
    @include tap-highlight($transparent);
}

// STYLES
%dot {
    background: $grey-700;
    @include border-radius(rem(50));
}

// ALIGNMENT
%center-items {
    align-items: center; 
}
%justify-center {
    justify-content: center; 
}
%align-start {
    justify-content: flex-start;
    align-items: center; 
}
%align-center {
    justify-content: center;
    align-items: center; 
}
%align-end {
    justify-content: center;
    align-items: flex-end; 
}
%justify-end {
    justify-content: flex-end;
    align-items: center; 
}
%justify-between {
    justify-content: space-between;
    align-items: center; 
}

%pos-wrap {
    @include absolute-pos(0);
    margin: auto;
}

%flex-row { flex-direction: row; }
%flex-column { flex-direction: column; }

// Animation
%anim-long { @include transition(0.4s ease-in-out); }
%anim-delayed { @include transition($anim-delayed); }

%anim-nav-btn { @include transition(.2s cubic-bezier(.82,-0.01,1,1)); }
%anim-nav-text { @include transition(.3s cubic-bezier(.82,-0.01,1,1)); }