{% extends "layouts.njk" %}

{% block meta %}
{% set current_page = "projects" %}
{# Navbar #}
{% import 'macros/nav-macro.njk' as nav %}
{{nav.active(current_page)}}
{# Vault #}
{% include 'partials/vault.njk' %}
{# Heading #}
{% import 'macros/heading.njk' as heading %}
{{heading.active(current_page)}}

{# Content #}
{% import 'macros/page-macro.njk' as page %}
{{page.active(current_page)}}
    <section class="gallery">
    </section>
</div> {# Ends page macro #}
{% endblock %}
