<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Pierce's Pocket</title>
        <meta name="description" content="Step inside Pierce's Pocket, a place where I showcase the work I have completed, designed or contributed to.">
        <link rel="shortcut icon" href="/app/img/icons/logo.ico"/>
        <link rel="stylesheet" type="text/css" media="all" href="/app/styles.css">
    </head>
    <body>
    {% block meta %}{% endblock %}
    <script src="/app/js/buttons.js"></script>
    </body>
</html>
